<% provide :title, t("home") %>

<div class="center jumbotron">
  <h1><%= t("sampleApp")%></h1>

  <h2>
  <%= t ".textHome1" %>
  <%= link_to t("RoRTut"), Settings.home.homePage %>
  <%= t ".textHome2" %>
  </h2>

  <%= link_to t("signUpNow"), signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"), Settings.home.rubyOnRails %>
